@model MovieViewModel

@{
    ViewData["Title"] = "Excluir filme";
}

<h4 class="text-success">Excluir filme</h4>
<hr />
<h5 class="text-danger">Deseja realmente excluir este filme?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Runtime) min.
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Maturity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Maturity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-outline-info">Catálogo de filmes</a>
        <input type="submit" value="Excluir" class="btn btn-outline-danger" />
    </form>
</div>
