@model IEnumerable<MovieViewModel>

@{
    ViewData["Title"] = "Catálogo de filmes";
}

<div class="row">
    <div class="col-6">
        <h4 class="text-success">Catálogo de filmes</h4>
    </div>
    <div class="col-6">
        <a class="btn btn-outline-primary float-md-right mb-2" asp-action="Create" title="Criar">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-md-center text-primary">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-md-center text-primary">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-md-center text-primary">
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th class="text-md-right text-primary">
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th class="text-md-right text-primary">
                @Html.DisplayNameFor(model => model.Maturity)
            </th>
            <th class="text-md-right text-primary">
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th class="text-md-center text-primary">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td class="text-md-center">
                    @item.Id
                </td>
                <td class="text-md-center">
                    @item.Title
                </td>
                <td class="text-md-center">
                    @item.Genre
                </td>
                <td class="text-md-right">
                    @item.Runtime min.
                </td>
                <td class="text-md-right">
                    @item.Maturity
                </td>
                <td class="text-md-right">
                    @item.ReleaseYear
                </td>
                <td class="text-md-right">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" title="Detalhes">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary" title="Editar">
                        <i class="far fa-edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Excluir">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
